@import url('https://fonts.googleapis.com/css?family=poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
    scroll-behavior: smooth;
}
body{
height: 100%;
width: 100%;
background: white;
overflow-x: hidden;
}
.header{
position: fixed;
top: 0;
left: 0;
padding:20px 10%;
display:flex;
justify-content: space-between;
width: 100%;
align-items: center;
background:rgb(185, 180, 180);
z-index: 1000;

}

.header .logo{
    color: black;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
    
}
.header a span{
    color: red;
}
.header .navbar a{
color:black;
text-decoration: none;
margin-left: 35px;
font-size: 18px;
font-weight: 500;
padding: 5px 10px;
border-radius: 5px;
}

.Activity-section{
color: rgb(180, 3, 3);
font-size: 25px;
margin-left: 20px;
padding: 10px;
border-radius: 50%;
transition: .3s;
cursor: pointer;
transform: scale(1.1);
transition: all 0.3s ease-in-out;

}

.Activity-section i:hover {
    color: #007bff; 
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
  }
  
  .Activity-section .bx-search:hover {
    color: #000;
    transform: rotate(360deg);
  }
  
  .Activity-section .bx-heart:hover {
    color: #ff69b4; 
    transform: scale(1.5);
  }
  .Activity-section .bx-cart:hover {
    color: #33cc33; 
    transform: translateY(-5px); 
  }
.btn{
    height: 40px;
    width: 100px;
    border-radius: 8px;
    background: #121b46;
    color: rgb(219, 219, 219);
    font-size: 16px;
    outline:none;
    border:2px solid;
    cursor: pointer;
    font-weight: 600;
    z-index: 1;
    position: relative;
    overflow: hidden;
}
.btn1{
height:40px;
width:100px;
border-radius: 8px;
background: white;
color: rgb(228, 107, 107);
font-size:16px;
outline:none;
border:2px solid;
cursor: pointer;
font-weight:600;
z-index: 1;
position: relative;
overflow: hidden;
}
.btn::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    background: white;
    height: 100%;
    width: 00%;
    z-index:-1;
    transition: 2s;
}
.btn:hover:before{
    width: 100%;
    }
.btn:hover{
    color: #121b46;
    
}
.btn1::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    background: #121b46;
    height: 100%;
    width: 00%;
    z-index:-1;
    transition: 3s;
}
.btn1:hover:before{
    width: 100%;
    }
.btn1:hover{
    color: #ffffff;
    
}

section{
    padding: 10rem 9% 2rem;
}
.home-section{
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

.home-section .text-content h1{
font-size:30px;
color:red;
font-weight: 600;
}

.home-section .text-content h2{
    font-size: 50px;
    color: #121b46;
    font-weight: 600;
}
.home-section .text-content h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    
}
.home-section .text-content p{
    font-size: 15px;
    color:solid black;
    font-weight: 500;
}
.home-section .text-content .btn{
margin-top: 20px;
}
.home-section .img-section img{
    margin-bottom: 5%;
    width: 30vw;
    animation: bounce 5s ease forwards infinite;
    border: 100%;

}
@keyframes bounce{

    0%{
        transform: translateY(-24px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-24px);
    }

}
.home-section .img-section .shadow{
    background: rgb(0, 0, 0,.4);
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(0, 0, 0,.4);
    filter: blur(5px);
    width: 30vw;
    animation: bounceIn 5s ease forwards infinite;
    
}
@keyframes bounceIn{

    0%{
        transform: translateY(-24px)scale(.5);
    }
    50%{
        transform: translateY(0px)scale(1);
    }
    100%{
        transform: translateY(-24px)scale(.5);
    }
}
.menu-page{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 10rem 0% 3rem;
}
.menu-images img{
width: 200px;
height: 180px;
}
.heading{
    font-size: 30px;
    align-items: center;
    margin-top: 0%;
}
.heading span{
    color: red;
}
.image-content{
display: flex;
justify-content: center;
margin-top: 14%;
justify-content: space-between;
}
.image-content .menu-images{
    height: 350PX;
    width: 280px;
    padding: 0 25px 0 0;
    box-shadow: 0 0 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(190, 0, 0);
    border-radius: 5%;
    flex-direction: column;
    position: relative;
    margin-left: 15px;
}
.menu-images img{
margin-top:60px;
height: 240px;
position: absolute;
top:-60%;
}
.innertxt{
    margin-top: 70px;
    text-align: center;
}
.innertxt p{
    margin-top: 10%;
    color: rgb(59, 59, 59);
    text-align: center;
    font-size: 16px;
}
.price-content{
margin-top: 15px;
width: 100%;
display: flex;
justify-content:center;
}
.price-content span{
    margin-left: 10%;
    height: 30px;
    width: 80%;
    border: 2px solid rgb(0, 136, 0);
    border-radius:50px;
    background: transparent;
    display: flex;
    justify-content: center;
    font-size: 14px;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: rgb(3, 139, 3);
    font-weight: 500;
    cursor: pointer;
    
}
.price-content span::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 00%;
    background: rgb(0, 139, 0);
    z-index: -1;
    transition: .3s;
}

.price-content span:hover{
    color: #ffffff;

    }

.price-content span:hover:before {
    width: 100%;

}
.price-content .price-tag{
    border: none;
    font-size: 22px;
    color: black;
    text-decoration: underline;
    background: rgb(0, 139, 0);
    color: white;
}
